.header {
    position: absolute;
    width: 100%;
    z-index: 150;
    top: 0;
    &__container {
        padding: 10px 30px;
        background-color: #325DF6;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {}

    &__profile {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .profile-box {
        display: flex;
        align-items: center;
        margin-left: 20px;
        transition-duration: 200ms;

        &:hover {
            cursor: pointer;
            transform: scale(103%);
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 45px;
            height: 45px;
            background-color: #BABABA;
            border-radius: 50%;
        }

        &__label {
            margin-left: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.015em;
            color: #FFFFFF;
        }
    }

    .notice-box {
        &__img {
            transition-duration: 200ms;
            &:hover{
                cursor: pointer;
                // transform: scale(110%) rotate(10deg);
                animation: notice-anim 500ms;
            }
        }
    }
}

@keyframes notice-anim {
    0% {}
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg) scale(105%);
    }
    100% {
        transform: rotate(10deg) ;
    }
}