.loading {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 60px;
        color: black;
    }

    &__icon {}

    &__bullets {
        position: relative;
        margin-top: 30px;
        display: flex;
    }

    &__img {
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 50%;
        animation-name: loadingAnim;
        animation-duration: 1s;
        animation-delay: 0ms;
        animation-iteration-count: infinite;
    }
}

@keyframes loadingAnim {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }
}


// @keyframes notice-anim {
//     0% {}

//     50% {
//         transform: rotate(10deg);
//     }

//     75% {
//         transform: rotate(-10deg) scale(105%);
//     }

//     100% {
//         transform: rotate(10deg);
//     }
// }